.hidden {
  display: none !important;
}

.container {
  max-width: 575px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

body {
  background-color: lightgray;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.column-full,
.column-half {
  width: 100%;
}

.header-div {
  max-width: 575px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.head-box-text {
  /* text-align: center; */
  margin: 0 auto;
  padding-top: 0.4rem;
  padding-left: 1rem;
  color: white;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 900px;
  }

  body {
    margin: 0;
  }

  .header-div {
    max-width: 900px;
  }

  .column-full,
  .column-half {
    padding: 0 0.75rem;
  }

  .column-half {
    width: 50%;
  }

  .input-bottom-margin {
    margin-bottom: 2rem;
  }

  .margin-left-form {
    margin-left: 0.7rem;
  }

  .head-box-text {
    /* text-align: center; */
    margin: 0 auto;
    padding-top: 0.4rem;
    padding-left: 1.5rem;
  }
}
