body {
  background-color: rgb(221, 221, 221);
  font-family: sans-serif;
}

.overlay {
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  position: fixed;
  background: rgba(22, 22, 22, 0.596);
}

.modal {
  width: 375px;
  height: 125px;
  background-color: white;
  position: relative;
  top: 30%;
  left: 30%;
  padding: 0.5rem;
}

.modal-text {
  font-weight: bold;
  text-align: center;
  padding-bottom: 1rem;
}

.red-bg {
  background-color: red;
}

.gray-bg {
  background-color: gray;
}

.delete-button {
  height: 2rem;
  width: 5rem;
}

.float-right {
  float: right;
}

.white-text {
  color: white;
}

.button-text {
  font-size: large;
  margin: 0;
}

.head-box-text {
  margin: 0 auto;
  color: white;
  margin-top: 0.7rem;
  font-family: sans-serif;
}

.form-div {
  width: auto;
  padding-top: 1rem;
}

.form-label {
  text-align: right;
  font-family: sans-serif;
  font-weight: bold;
}

form {
  width: 100%;
}

input {
  width: 100%;
  height: 2rem;
}

.placeholder-img {
  width: 100%;
}

.form-h1 {
  text-align: left;
  font-family: sans-serif;
}

header {
  background-color: purple;
  margin: 0;
  padding: 0;
  height: 3rem;
}

textarea {
  width: 100%;
}

.form-button {
  float: right;
  padding: 0.2rem 0.5rem;
  background-color: purple;
  color: white;
  border: 0;
}

.new-button {
  margin-top: 1.5rem;
  padding: 0.5rem 0.7rem;
  background-color: purple;
  color: white;
  border: 0;
  float: right;
  margin-left: 2rem;
  font-size: large;
}

.rounded {
  border-radius: 5px;
  border: 0;
}

.form-item-div {
  margin-bottom: 1.5rem;
}

.entries-title-row {
  flex-wrap: nowrap;
}

ul {
  list-style-type: none;
  padding: 0;
}

.header-div {
  flex-wrap: nowrap;
}

.header-nav {
  float: left;
  margin-top: 0.9rem;
}

.header-nav-item {
  text-decoration: none;
  color: white;
}

.header {
  width: 20%;
}

.edit-item {
  padding: 0;
}

.edit-pen {
  padding-top: 1.5rem;
  color: purple;
}

.delete-text {
  margin: 0;
  text-decoration: underline;
  color: red;
}

.width-50 {
  width: 50%;
}
